<header class="home__header">
    <nav class="home__header__nav">
        <div class="home__header__nav__div">
            <div class="home__header__div--imagen">
                <a href="/"><img src="/images/logo.png" alt="Logo de Pets Universe" width="20%"></a>
            </div>
            <div class="home__header__nav__div--lupa">
              <input type="text" placeholder="Buscar productos, marcas">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            </div>
            <div class="home__header__nav__div--user">
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="home__header__nav__div--carrito">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="home__header__nav__div--burger">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="home__header__nav__div--categorias">
            <div class="home__header__nav__div--categorias--img">
                <a href="/"><img src="/images/perrito.png" alt=""><p class="perro">Perros</p></a>
            </div>
            <div class="home__header__nav__div--categorias--img">
                <a href="/"><img src="/images/gatito.png" alt=""><p class="gato">Gatos</p></a>
            </div>
            <div class="home__header__nav__div--categorias--img">
                <a href="/nosotros"><img src="/images/et.png" alt=""><p class="nosotros">Nosotros</p></a>
            </div>
        </div>
    </nav>
</header>