<div class="section3__article__div">
    <div class="aLaPar">
        <div class="par1">
            <p class="oculto1">Artículo nuevo | 1000 vendidos</p>
            <p class="visto1">$ <%= mil(price) %></p>
            <p class="visto2">en 12 cuotas sin interés</p>
            <p class="oculto2">¡Pedidos que vuelan!</p>
            <div class="ufo">
                <img class="flyingSaucer" src="/images/flyingSaucer.png">
                <p class="visto3">Envíos gratis</p>
                <p class="compras">para compras mayores a $4000</p>
            </div> 
        </div>                                
        <div class="par2">
             <div class="form__button">
                <a href="/cart"><button  type="submit">Comprar ahora</button></a>
            </div>
            <div class="form__button">
                <a href="/cart"><button  type="submit">Agregar al carrito</button></a>
            </div>                                       
        </div> 
    </div>                                                 
    <div class="metodo">
        <h1 class="metodo__h1">Métodos de pago</h1> 
        <div class="pay">
            <div class="boxes">
            <img src="/images/credit.png">
            <p>Tarjeta de crédito</p>  
        </div>
        <div class="boxes">
            <img src="/images/cash.png">
            <p>Efectivo</p>
        </div>
        <div class="boxes">
            <img src="/images/virtual.png"> 
            <p>Criptomonedas</p> 
        </div>                  
        </div>   
    </div> 
</div>