<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/19a5df4eb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/logo.ico">
</head>
<body>
    <header class="home__header">
        <nav class="home__header__nav">
            <div class="home__header__nav__div">
                <div class="home__header__div--imagen">
                    <a href="/"><img src="images/logo.png" alt="Logo de Pets Universe" width="20%"></a>
                </div>
                <div class="home__header__nav__div--lupa">
                  <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                </div>
                <div class="home__header__nav__div--user">
                    <a href="./login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="home__header__nav__div--carrito">
                    <a href="./productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="home__header__nav__div--burger">
                    <button>
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="home__header__nav__div--categorias">
                <div class="home__header__nav__div--categorias--img">
                    <a href="/"><img src="images/perrito.png" alt=""><p class="perro">Perros</p></a>
                </div>
                <div class="home__header__nav__div--categorias--img">
                    <a href="/"><img src="images/gatito.png" alt=""><p class="gato">Gatos</p></a>
                </div>
                <div class="home__header__nav__div--categorias--img">
                    <a href="/nosotros"><img src="images/et.png" alt=""><p class="nosotros">Nosotros</p></a>
                </div>
            </div>
        </nav>
    </header>


    <main class="main__login">

        <div class="main__login__div">
        <form action="">

            <div class="main__login__div--iniciarSesion">
                <h2>Iniciar sesión</h2>
            </div>

            <div class="main__login__div--nombreUsuario">
<!--                 <i class="fa-regular fa-envelope"></i> -->
                <input type="email"  placeholder="Correo Electronico" name="email" id="email" minlength="1">
            </div>

            <div class="main__login__div--contraseña">
<!--                 <i class="fa-solid fa-unlock"></i> --><input type="password" placeholder="Contraseña" name="contraseña" id="contraseña" minlength="1"><!-- <i class="fa-solid fa-eye"></i> -->
            </div>

            <div class="main__login__div--botonEnviar">
                <a href="/"><input type="button" value="Enviar"></a>
            </div>

            <div class="main__login--olvidarContraseña">
                <small> ¿Olvidaste tu contraseña? <a href="/register"> Recupera tu contraseña </a></small>
            </div>

            <div class="main__login--estasRegistrado">
                <small> ¿No estas registrado? <a href="/register"> Registrate </a></small>
            </div>
        </form>            
        </div>


    </main>



    <footer class="home__footer">
        <div class="home__footer__div">
            <div class="home__footer__div--logo">
                <img src="images/logo.png" alt="Logo de Pets Universe">
            </div>
            <div class="home__footer__div--local">
                <i class="fa-solid fa-store"></i>
                <p>Nuestro local</p>
                <p>Calle Falsa 123</p>
                <p>Bs As, Argentina</p>
            </div>
            <div class="home__footer__div--redes">
                <h4>Seguinos</h4>
                <div class="home__footer__div--facebook">
                    <a href="https://www.facebook.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png"/></a>
                </div>
                <div class="home__footer__div--instagram">
                    <a href="https://www.instagram.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/></a>
                </div>
            </div>
            <div class="home__footer__div--home">
                <h4>Home</h4>
                <a href="/"><img src="images/perrito.png" alt=""></a><p>Perros</p>
                <a href="/"><img src="images/gatito.png" alt=""></a><p>Gatos</p>
                <a href="/"><img src="images/et.png" alt=""></a><p>Nosotros</p>
            </div>
        </div>
        <div class="home__footer__div--whatsapp">
            <a href="/"><img src="images/whatsapp-logo-11.png" alt="Logo de Whatsapp"></a>
        </div>
        <div class="home__footer__div--copyright">
            <p><i class="fa-solid fa-copyright"></i>2023 Pets Universe - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>


