<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/19a5df4eb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <header>
       
    </header>



    <main class="main__login">

        <form action="">
            <div>
                <input type="text" placeholder="Nombre de usuario" name="nombre" id="nombre" minlength="2">
            </div>

            <div>
            <input type="password" placeholder="Contraseña" name="contraseña" id="contraseña" minlength="1">
            </div>

            <div>
                <a href="/"><input type="button" value="Enviar"></a>
            </div>

            <div>
                <small> ¿No estas registrado? <a href="/register"> Registrate </a></small>
            </div>
        </form>

    </main>



    <footer>

    </footer>
</body>
</html>