<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/3888ffbbfa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="shortcut icon" href="images/logo.ico">
    <title>Nosotros</title>
</head>

<body>
    <header class="home__header">
        <nav class="home__header__nav">
            <div class="home__header__nav__div">
                <div class="home__header__div--imagen">
                    <a href="/"><img src="images/logo.png" alt="Logo de Pets Universe" width="20%"></a>
                </div>
                <div class="home__header__nav__div--lupa">
                  <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                </div>
                <div class="home__header__nav__div--user">
                    <a href="./login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="home__header__nav__div--carrito">
                    <a href="./productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="home__header__nav__div--burger">
                    <button>
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="home__header__nav__div--categorias">
                <div class="home__header__nav__div--categorias--img">
                    <a href="/"><img src="images/perrito.png" alt=""><p class="perro">Perros</p></a>
                </div>
                <div class="home__header__nav__div--categorias--img">
                    <a href="/"><img src="images/gatito.png" alt=""><p class="gato">Gatos</p></a>
                </div>
                <div class="home__header__nav__div--categorias--img">
                    <a href="/nosotros"><img src="images/et.png" alt=""><p class="nosotros">Nosotros</p></a>
                </div>
            </div>
        </nav>
    </header>
    <main class="nosotros__main">
        <section class="nosotros__main__section--Cris">
            <h2>Cristian Amarilla</h2>
            <a href="https://github.com/Cristianyelmo"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 24 años. Ciudad: Temperley. Me gusta la animacion,el 3d,la musica,la programacion y las milanesa de pollo con papas.Tengos 2 michis.</p>
        </section>
        <section class="nosotros__main__section--Gabi">
            <h2>Gabriela Meza</h2>
            <a href="https://github.com/GabrielaMeza93"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 29 años. Ciudad: Mataderos. Me gusta: Dibujar, pintar, pasar tiempo con mi hijas, y compartir mucho con amigos. Soy compañera, con buena predisposicón ante nuevos desafios, empática.</p>
        </section>
        <section class="nosotros__main__section--Gi">
            <h2>Giselle Ojeda</h2>
            <a href="https://github.com/gise2023"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 32 años. Localidad: González Catán. Soy madre de dos niños y tambien me dedico a la administración, en especial en coordinar entrega de datos de personas con mi equipo de trabajo. Me gusta investigar y aprender nuevos temas referido a la tecnología y ciencias.</p>
        </section>
        <section class="nosotros__main__section--Gus">
            <h2>Gustavo Romero</h2>
            <a href="https://github.com/Gusmilo88"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 34 años. Ciudad: Merlo. Me gusta la música, los animales, el fútbol, y la tecnología. Estudiante actualmente de desarrollador web full stack. </p>
        </section>
        <section class="nosotros__main__section--Maxi">
            <h2>Maximiliano Cuellar</h2>
            <a href="https://github.com/Maxi-Cuellar"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 20 años. Ciudad: Lanús Este. Por la parte grupal mucho la competitividad, los grandes desafíos y trabajar en equipo, luego por la parte personal me gusta el deporte, especialmente el futbol y gimnasio, escuchar música y junto con la mayoría de mis compañeros me gustan muchos los animales en especial los perros, mi favorito es el Golden y por ultimo soy el fanático número uno de MESSI es el amor de mi vida, mi sueño es conocerlo y sacarme una foto con él. </p>
        </section>

    </main>
    <footer class="home__footer">
        <div class="home__footer__div">
            <div class="home__footer__div--logo">
                <img src="images/logo.png" alt="Logo de Pets Universe">
            </div>
            <div class="home__footer__div--local">
                <i class="fa-solid fa-store"></i>
                <p>Nuestro local</p>
                <p>Calle Falsa 123</p>
                <p>Bs As, Argentina</p>
            </div>
            <div class="home__footer__div--redes">
                <h4>Seguinos</h4>
                <div class="home__footer__div--facebook">
                    <a href="https://www.facebook.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png"/></a>
                </div>
                <div class="home__footer__div--instagram">
                    <a href="https://www.instagram.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/></a>
                </div>
            </div>
            <div class="home__footer__div--home">
                <h4>Home</h4>
                <a href="/"><img src="images/perrito.png" alt=""></a><p>Perros</p>
                <a href="/"><img src="images/gatito.png" alt=""></a><p>Gatos</p>
                <a href="/"><img src="images/et.png" alt=""></a><p>Nosotros</p>
            </div>
        </div>
        <div class="home__footer__div--whatsapp">
            <a href="/"><img src="images/whatsapp-logo-11.png" alt="Logo de Whatsapp"></a>
        </div>
        <div class="home__footer__div--copyright">
            <p><i class="fa-solid fa-copyright"></i>2023 Pets Universe - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>