<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--bootstrap-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <!--animate-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
   <!--glider-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
   <link rel="shortcut icon" href="images/logo.ico">
   <!--fuente-->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap">
   <!--fontawesome-->
    <script src="https://kit.fontawesome.com/0b63215334.js" crossorigin="anonymous"></script>
    <!--css-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Detalle del producto</title>
</head>
<body class="bodyProductDetail">
</div>
</div>
<header class="home__header">
    <nav class="home__header__nav">
        <div class="home__header__nav__div">
            <div class="home__header__div--imagen">
                <a href="/"><img src="/images/logo.png" alt="Logo de Pets Universe" width="20%"></a>
            </div>
            <div class="home__header__nav__div--lupa">
              <input type="text" placeholder="Buscar productos, marcas">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            </div>
            <div class="home__header__nav__div--user">
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="home__header__nav__div--carrito">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="home__header__nav__div--burger">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="home__header__nav__div--categorias">
            <div class="home__header__nav__div--categorias--img">
                <a href="/"><img src="/images/perrito.png" alt=""><p class="perro">Perros</p></a>
            </div>
            <div class="home__header__nav__div--categorias--img">
                <a href="/"><img src="/images/gatito.png" alt=""><p class="gato">Gatos</p></a>
            </div>
            <div class="home__header__nav__div--categorias--img">
                <a href="/nosotros"><img src="/images/et.png" alt=""><p class="nosotros">Nosotros</p></a>
            </div>
        </div>
    </nav>
</header>
    <main class="productDetail" id="productDetail">
        <section class="section0">
            <article class="section0__article--rep" >
                    <div class="estrellitas">
                        <div class="estrellitas1"><small><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></small></div>
                    </div>  
                    <div class="titulo">
                        <h1 class="titulos1">Alimento para gatos whiskas</h1>
                        <h2 class="titulos1">de 2 a 12 meses - 85g</h2>
                        <h1 class="titulos2">Alimento Hop Perro Adulto</h1>
                        <h2 class="titulos2">Mediano y Grande - 21kg</h2>   
                    </div>                 
            </article>
        </section>
        <div class="productDetail__div"> 
            <div class="white">
                <div class="left">
                    <section class="section1">   
                        <img class="imagen1" src="/images/fotok7.png" alt="Foto de bolsón de alimento">
                        <article class="section1__article">
                                <img class="imagen2" src="/images/6.png" alt="Foto de bolsón de alimento">
                        </article>
                        <article id="otro">
                            <div class="section3__article__div">
                                <div class="aLaPar">
                                    <div class="par1">
                                        <div class="valor">
                                            <p class="visto1">$10.000</p>
                                        <p class="visto2">en 12 x $833.33 sin interés</p>
                                        </div>                                        
                                        <div class="ufo">
                                            <img class="flyingSaucer" src="/images/flyingSaucer.png">
                                            <p class="visto3">Envíos gratis</p>
                                            <p class="compras">para compras mayores a $4000</p>
                                        </div> 
                                    </div>                                
                                    <div class="par2">
                                        <div class="form__button">
                                            <a href="./productCart"><button type="submit">Compra ahora</button></a>
                                        </div> 
                                        <div class="form__button">
                                           <a href="./productCart"> <button  type="submit">Agregar al carrito</button></a>
                                        </div>
                                    </div> 
                                </div>                                                 
                                <div class="metodo">
                                    <h1 class="metodo__h1">Métodos de pago</h1> 
                                    <div class="pay">
                                        <div class="boxes">
                                        <img src="/images/credit.png">
                                        <p>Tarjeta de crédito</p>  
                                    </div>
                                    <div class="boxes">
                                        <img src="/images/cash.png">
                                        <p>Efectivo</p>
                                    </div>
                                    <div class="boxes">
                                        <img src="/images/virtual.png"> 
                                        <p>Criptomonedas</p> 
                                    </div>                  
                                    </div>   
                                </div> 
                            </div>    
                        </article>
                    </section>
                    <section class="section2">                                      
                        <article class="section2__article">
                            <div class="section2__article__div">
                                <p class="section2__article__div__p">Descripción del producto: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, non!.</p>
                            </div>
                            <form class="form" action="">
                                <textarea class="form-textarea" name="consulta" id="consulta" min="10" max="150"> </textarea>
                                <div class="form__box">
                                    <button type="submit" >preguntar</button>
                                </div>   
                            </form>
                        </article>                    
                    </section>
                </div>            
                <section class="section3">
                    <article class="section3__article--original1">
                        <div class="section3__article__div" >
                            <div class="section3__article__div--original2">
                                <div>  
                                    <div class="titulo">
                                        <h1 class="titulos2">Alimento Hop Perro Adulto</h1>
                                        <h2 class="titulos2">Mediano y Grande - 21kg</h2>     
                                    </div> 
                                </div>
                            </div>
                            <div class="section3__article__div">
                                <div class="aLaPar">
                                    <div class="par1">
                                        <p class="oculto1">Artículo nuevo | 1000 vendidos</p>
                                        <p class="visto1">$10.000</p>
                                        <p class="visto2">en 12 x $833.33 sin interés</p>
                                        <p class="oculto2">¡Pedidos que vuelan!</p>
                                        <div class="ufo">
                                            <img class="flyingSaucer" src="/images/flyingSaucer.png">
                                            <p class="visto3">Envíos gratis</p>
                                            <p class="compras">para compras mayores a $4000</p>
                                        </div> 
                                    </div>                                
                                    <div class="par2">
                                        <div class="form__button">
                                            <a href="./productCart"><button type="submit">Compra ahora</button></a>
                                        </div> 
                                        <div class="form__button">
                                            <a href="./productCart"><button  type="submit">Agregar al carrito</button></a>
                                        </div>
                                    </div> 
                                </div>                                                 
                                <div class="metodo">
                                    <h1 class="metodo__h1">Métodos de pago</h1> 
                                    <div class="pay">
                                        <div class="boxes">
                                        <img src="/images/credit.png">
                                        <p>Tarjeta de crédito</p>  
                                    </div>
                                    <div class="boxes">
                                        <img src="/images/cash.png">
                                        <p>Efectivo</p>
                                    </div>
                                    <div class="boxes">
                                        <img src="/images/virtual.png"> 
                                        <p>Criptomonedas</p> 
                                    </div>                  
                                    </div>   
                                </div> 
                            </div>                   
                        </div>
                    </article>
                </section>
                <div class="carrusel1">
                    <section class="carrusel__section">
                        <div class="glider-contain">
                            <div class="glider">
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok1.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>hacienda el rodeo</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok2.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>top choice</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok3.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>maintenance criadores</h5>
                                        </div>
                                    </div>
                                </a>                                
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok9.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>hop!</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok5.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>complete</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok6.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>pachá</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok7.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>whiskas</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/6.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>hop!</h5> 
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok8.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>complete</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#productDetail">
                                    <div class="carroussel-food-item">
                                        <img src="/images/fotok4.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" >Producto estelar:</h5><h5>maintenance criadores</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <button aria-label="Previous" class="glider-prev"> < </button>
                            <button aria-label="Next" class="glider-next"> > </button>
                        </div>
                    </section>
                </div> 
            </div> 
                         
        </div>   
    </main>
    <footer class="home__footer">
        <div class="home__footer__div">
            <div class="home__footer__div--logo">
                <img src="/images/logo.png" alt="Logo de Pets Universe">
            </div>
            <div class="home__footer__div--local">
                <i class="fa-solid fa-store"></i>
                <p>Nuestro local</p>
                <p>Calle Falsa 123</p>
                <p>Bs As, Argentina</p>
            </div>
            <div class="home__footer__div--redes">
                <h4>Seguinos</h4>
                <div class="home__footer__div--facebook">
                    <a href="https://www.facebook.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png"/></a>
                </div>
                <div class="home__footer__div--instagram">
                    <a href="https://www.instagram.com/" target="_blank"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/></a>
                </div>
            </div>
            <div class="home__footer__div--home">
                <h4>Home</h4>
                <a href="/"><img src="/images/perrito.png" alt=""></a><p>Perros</p>
                <a href="/"><img src="/images/gatito.png" alt=""></a><p>Gatos</p>
                <a href="/"><img src="/images/et.png" alt=""></a><p>Nosotros</p>
            </div>
        </div>
        <div class="home__footer__div--whatsapp">
            <a href="/"><img src="/images/whatsapp-logo-11.png" alt="Logo de Whatsapp"></a>
        </div>
        <div class="home__footer__div--copyright">
            <p><i class="fa-solid fa-copyright"></i>2023 Pets Universe - Todos los derechos reservados.</p>
        </div>
    </footer>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--glider-->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script>
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            dots: '.dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            },

responsive: [
{
    // screens greater than >= 361px
    breakpoint: 361,
    settings: {
      // Set to `auto` and provide item width to adjust to viewport
      slidesToShow: 4,
      slidesToScroll: 1,
      itemWidth: 20,
      duration: 0.25
    }
  },
  {
    // screens greater than >= 769px
    breakpoint: 769,
    settings: {
      // Set to `auto` and provide item width to adjust to viewport
      slidesToShow: 5,
      slidesToScroll: 1,
      itemWidth: 20,
      duration: 0.25
    }
  }
   ] });
    </script>
</body>

</html>