<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c63e399f09.js" crossorigin="anonymous"></script>

    <title>Carrito de la compra</title>
</head>
<body>
    
<header>

</header>

<main class="product_Cart_main">


<div class="product_Cart_contenedor">



<section class="product_Cart_carrito">

    <h1>Carrito</h1>

    <hr class="product_Cart_hr">

    <article class="product_Cart_objeto_compra">
        

        <div class="product_Cart_fotoydescripcion">

            <button class="product_Cart_button_x">
                <i class="fa-solid fa-xmark"></i>
            </button>
          
      <img src="/images/imagen-fondoffff.JPG" alt="" class="product_Cart_img">
      
      <p class="product_Cart_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, atque.</p>
          
          </div>
      
      
        
      
      
      
          <div class="product_Cart_precioyboton">
      
            <div class="product_Cart_numero_precio"><h3>1000$</h3></div>
      <div class="product_Cart_botones_precio">
            
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-plus"></i>
      </button>
      
      <div class="product_Cart_numero_producto">
          1
      </div>
      
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-minus"></i>
      </button>
      </div>
          </div>


    </article>


    <article class="product_Cart_objeto_compra">
        

        <div class="product_Cart_fotoydescripcion">

            <button class="product_Cart_button_x">
                <i class="fa-solid fa-xmark"></i>
            </button>
          
      <img src="/images/imagen-fondoffff.JPG" alt="" class="product_Cart_img">
      
      <p class="product_Cart_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, atque.</p>
          
          </div>
      
      
        
      
      
      
          <div class="product_Cart_precioyboton">
      
            <div class="product_Cart_numero_precio"><h3>1000$</h3></div>
      <div class="product_Cart_botones_precio">
            
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-plus"></i>
      </button>
      
      <div class="product_Cart_numero_producto">
          1
      </div>
      
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-minus"></i>
      </button>
      </div>
          </div>


    </article>

    <article class="product_Cart_objeto_compra">
        

        <div class="product_Cart_fotoydescripcion">

            <button class="product_Cart_button_x">
                <i class="fa-solid fa-xmark"></i>
            </button>
          
      <img src="/images/imagen-fondoffff.JPG" alt="" class="product_Cart_img">
      
      <p class="product_Cart_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, atque.</p>
          
          </div>
      
      
        
      
      
      
          <div class="product_Cart_precioyboton">
      
            <div class="product_Cart_numero_precio"><h3>1000$</h3></div>
      <div class="product_Cart_botones_precio">
            
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-plus"></i>
      </button>
      
      <div class="product_Cart_numero_producto">
          1
      </div>
      
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-minus"></i>
      </button>
      </div>
          </div>


    </article>


    <article class="product_Cart_objeto_compra">
        

        <div class="product_Cart_fotoydescripcion">

            <button class="product_Cart_button_x">
                <i class="fa-solid fa-xmark"></i>
            </button>
          
      <img src="/images/imagen-fondoffff.JPG" alt="" class="product_Cart_img">
      
      <p class="product_Cart_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, atque.</p>
          
          </div>
      
      
        
      
      
      
          <div class="product_Cart_precioyboton">
      
            <div class="product_Cart_numero_precio"><h3>1000$</h3></div>
      <div class="product_Cart_botones_precio">
            
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-plus"></i>
      </button>
      
      <div class="product_Cart_numero_producto">
          1
      </div>
      
      <button class="product_Cart_button_Mas_Menos">
          <i class="fa-solid fa-minus"></i>
      </button>
      </div>
          </div>


    </article>
  



</section>

<hr class="product_Cart_hr">

<section class="product_Cart_precio">
    
    <h3>Carrito</h3>

<h2>Total:2000$</h2>

<button class="product_Cart_button_comprar">Comprar</button>

</section>





</div>


</main>
<footer>

</footer>



</body>
</html>