.home__footer{
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(2, 152, 227, 0.7) 33.33%, rgba(1, 58, 87, 0.7) 66.67%, rgba(0, 0, 0, 0.7) 100%);
}

.home__footer__div--logo{
    width: 20%;
}

.home__footer__div--seguinos{
    width: 2%;
    text-align: center;
}

.home__footer__div--whatsapp{
    width: 50%;
    height: 50%;
    color: green;
}

.home__footer__div--copyright{
    text-align: center;
}
