.home__header{
    background: var(--gradientePrincipal);
    display: flex;
    padding: 18px;
}

.home__header__div--imagen{
    width: 20%;
}

.home__header__div--imagen img{
    width: 100%;
}

.home__header__nav__div{
    display: flex;
    align-items: center;
}

.home__header__nav__div--lupa{
    display: flex;
    height: 30px;
    justify-content: center;
}

.home__header__nav__div--lupa button{
    background-color: transparent;
    border: none;
}

.home__header__nav__div--lupa i{
    margin-left: 5px;
    cursor: pointer;
}

.home__header__nav__div--lupa input{
    width: 70%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    padding-right: 30px;
    
}

.home__header__nav__div--user{
    display: none;
}

.home__header__nav__div--carrito{
    display: none;
}


.home__header__nav__div--burger{
    
}

.home__header__nav__div--burger button{
    padding: 5px;
    border: none;
    border-radius: 25%;
    background: var(--gradienteBotones);
    cursor: pointer;
}

.home__header__nav__div--burger button i{
    cursor: pointer;
}

.home__header__nav__div--categorias{
    display: none;
}

.home__header__nav__div--categorias img:hover {
	animation: heartbeat 1.5s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-20 21:14:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  

/* Media query: */
/* tablet */
@media (min-width: 361px){
    .home__header{
        padding: 18px 18px 0px
    }

    .home__header__nav__div{
        display: flex;
        justify-content: space-between;
    }

    .home__header__nav__div--lupa{
        width: 100%;
    }

    .home__header__nav__div--lupa input{
        font-size: 20px;
        height: 35px;
    }

    .home__header__nav__div--lupa i{
        font-size: 30px;
    }

    .home__header__nav__div--user{
        display: block;
        margin-top: 10px
    }

    .home__header__nav__div--user i{
        font-size: 30px;
    }
    
    .home__header__nav__div--carrito{
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

    .home__header__nav__div--carrito i{
        font-size: 30px;
    }

    .home__header__nav__div--burger{
        display: none;
    }

    .home__header__nav__div--categorias{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 50px;
    }

    .home__header__nav__div--categorias img{
        width: 10vw;
    }

    .home__header__nav__div--categorias--img p{
        width: 10vw;
        text-align: center;
    }

    .perro{
        margin-top: 4px;
    }

    .perro:hover{
        color: rgb(51, 255, 0);
    }

    .gato:hover{
        color: rgb(217, 0, 255);
    }

    .nosotros:hover{
        color: rgb(70, 251, 121);
    }
}

/* desktop */
@media (min-width: 769px) {
    .home__header__nav__div--categorias{
        
    }

    .home__header__nav__div--categorias a{
        
    }
    
    .home__header__nav__div--categorias img{
        
    }
}