/*body*/


/*mobile*/
/*contenedor general*/
.productDetail__div{
    width: 100%;
    position: relative;
}

/*section1: bloque de imagenes de bolsas de comida para perro*/
.section1{
    width: 100%; 
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(2, 152, 227, 0.7) 33.33%, rgba(1, 58, 87, 0.7) 66.67%, rgba(0, 0, 0, 0.7) 100%);
}

.titulo {
    margin-top: 56px;
    color: white;
    padding-top: 20px;
    text-align: center;
}

/*imagen grande*/
.imagen1{
    width: 100%;
}

.imagen2{
    width: 100%;
   
}

/*section2: contenedor y formulario oculto hasta tablet*/
.section2{
    
}

.section2__article{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/*cotenedor violeta*/
.section2__article__div{
    display: none;
}

.section2__article__div__p{
    font-family: var(--tipografiaTitulos);
    font-size: 2vh;
}

/*formulario*/
.form{
    height: 20px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.form-textarea{
    width: 200px;
    height: 20px;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 7px  0px rgba(0, 0, 0, 0.6);
}

.form__box{
    padding: 0px;
}

.form__box button{
    width: 100px;
    height: 20px;
}

/*carrusel*/

.carrusel1{
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.carrusel__section{
    width:100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.carrusel__section a{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-detail {
    text-align: center;
}

.carrusel__section h5{
    text-align: center;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize; 
}

.carroussel-food-item{
    width: 200px;
    height: 300px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(2, 152, 227, 0.7) 33.33%, rgba(1, 58, 87, 0.7) 66.67%, rgba(0, 0, 0, 0.7) 100%);;
    border-radius: 10px;
}

.carroussel-food-item img{
    height: 90%; 
}

.carroussel-food-item h5{
    height: 10%;
    line-height: 8px;
}

.carrusel__section button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--gradientePrincipal);
    border-radius: 50px;
    color: #fff;
    top:40%;
}
/*section3: descripcion del producto*/
/*esta sección no aparece en mobile, pero con el script se clonan algunas partes*/
#otro{
    padding-left: 5px;
}

.section3__article--original1{
   display: none;
}

/*caracteristicas generales de los hijos*/
.section3__article__div, .section0__article--rep, .section1__article__div--original1{
    width: 100%;
    font-family: var(--tipografiaTitulos);
    font-size: 18px;
    color: #fff; 
}

/*esta sección no aparece en su lugar hasta el escritorio, pero se clonan sus elementos en mobile y tablet*/
.section3__article__div--original2{
    
}  

/*estrellas debajo del header*/
.estrellitas{
    background: var(--gradientePrincipal);
}

.estrellitas1{
    text-align: right;
}

.estrellitas div small i{
    font-weight: 200;
}

/*titulo del producto*/
.titulos1{
    font-family: var(--tipografiaTitulos);
    font-size: 3vh;
}



/*dos columnas que tienen descripción del producto*/
.aLaPar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*descripción*/
.botones {
    display: flex;
}

/*botones*/
.par2{
    width: 50%;
}

.form__button{   
    width: 100%;  
    padding: 5%;
}

.form__button button{
    width: 120px;
    height: 25px;
}

.form__button button, .form__box button{
    background: var(--gradienteBotones);
    font-family: var(--tipografiaTitulos);
    font-size: 12px;
    font-weight: 600;
    text-transform: initial;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 7px  0px rgba(0, 0, 0, 0.6);
}

/*línea oculta hasta escritorio*/
.oculto1{
    font-size: 11px;
    display: none;
}
/*Tarjeta valor*/
.valor{
    height: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*descripcion valor*/
.visto1{
    margin-bottom: 0rem;
    font-size: 4vh;
}

.visto1:hover{
    font-size: 34px;
    color: var(--colorVerdeBrillante)
}

/*descripcion cuotas*/
.visto2{
    font-size: 2.5vh;
    color: var(--colorVerdeBrillante)
}

/*línea oculta hasta escritorio*/
.oculto2{
    font-size: 16px;
    display: none;
}

/*envios*/
.contenedor-ufo-envio h4{
    font-size: 2vh;
    text-align: center;
    padding: 10%;
}

.ufo{
    position: relative;
    animation-name: ufo;
    animation-duration: 2.5s;  
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ufo img {
    width: 100%;
}

.visto3{
    align-self: flex-end;
    font-size: 12px;
    text-transform: uppercase;
}

.compras{
    font-size: 12px;
}

/*caja de metodos de pago*/
.metodo{
    width: 100%;
    padding: 20px;
}

.metodo img{
    width: 100%;
    background-color: white;
}

.boxes{
    height: 30px;
    position: relative;
}
/*íconos de métodos de pago*/
.boxes img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0px;
}

.boxes p{
    padding: 2% 10%;
    text-align: left;
}



/*tablet*/
@media(min-width:361px){

/*clon de estrellas y titulo de section 3*/
    .section0{
            width: 100%;
    }
/*contenedor general*/
    .productDetail__div{
        display: flex;
    }
    
    .white{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        margin: 7px;
        }

/*primera columna*/
    .left{
        width: 60%;
        height:50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

/*se oculta el clon usado en mobile*/

#otro{
        display: none;
    }
/* section1*/

/*caja de imagenes de bolsas de alimento para perro*/
    .section1{
        width:100%;
        background-color: rgba(0, 0, 0, 0.0);
    }

    .section1__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
   
    .section1__article img{
        width: 80%;
    }

    .section2{
        display: none;
    } 

/*section3 (segunda columna)*/
    .section3{
        width: 35%;
        height: 50%;
    }

/*características del clon de estrellas y titulo*/
    #original2{
        padding: 0;
    }

/*características de las estrellas*/
    .estrellitas{
        height: 20%;
        background: var(--gradientePrincipal); 
    }

    .estrellitas1{
        height: 50%; 
    }

    .estrellitas div small {
        height: 80%;
        padding-right: 2%;
    }

    .estrellitas div small i{
        font-size: 80%;
        color: #fff;
    }

/* características del título del producto*/
    .titulo {
        margin-top: 10px;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    .titulos1{
        display: none;
    }

    .titulos2{
        font-size: 4vh;
    }
    
/*características de la segunda columna*/
    .section3__article--original1{
        width: 100%;
        display: block;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(2, 152, 227, 0.7) 33.33%, rgba(1, 58, 87, 0.7) 66.67%, rgba(0, 0, 0, 0.7) 100%);
    }

    .section3__article__div { 
        width: 100%;
        position: relative;
    }

/*las dos columnas de mobile cambian a una*/
    .aLaPar{
        display: block;
        padding-left: 0%;
    }

/*parte superior descripción*/
    .par1{
        width: 100%;
    }

/*valor*/
    .visto1{
        font-size: 20px;
        padding: 0px;
    }

    .visto1:hover{
        font-size: 30px;
        color: var(--colorVerdeBrillante)
    }

/*cuotas*/
    .visto2{
        font-size: 1.5vh;  
        padding: 10px;
    }

/*envíos*/
    .visto3, .compras{
        font-size: 7px;
        line-height: 3px;
        padding: 0%;
    }
   
/*parte inferior botones*/

    /*descripción*/
    .botones {
        display: block;
        padding: 10px;
    }

    .par2{
        width: 100%;
        height: 100%;   
    }

    .form__button{ 
        text-align: center;
    }

    .form__button button{
        width: 13vh;
        font-size: 1.5vh;
    }

/* caja de métodos de pago*/
    .metodo {
        display: none;
    }


    .contenedor-ufo-envio {
        display: block;
    }
}

.lasCategorias{
    font-size: 20px;
}
/*escritorio*/
@media(min-width:769px){

/*se oculta el clon de section3*/
    .section0{
        display: none;
    }

/*contenedor*/
    .productDetail__div{
        width:90%;
        margin: 3% 5%;
    }

/*contenedor blanco*/
    .white{
        padding: 15px;
        }

    .left{
        height: 70%;
    }
/*caja con imagenes de bolsas de alimento para perro*/     
    .section1{
        display: flex;
        justify-content: center;
    }

    .section1 img{
        width: 60%;
    }

    .titulo {
        margin-top: 10px;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    .section1__article img{
        width: 60%;
        }

    /*section2 contenedor violeta y formulario*/
   
    .section2{
        display:block;
    } 

    /*carrusel*/

.carrusel1{
    width: 100%;
    margin: 10% 0%;
}

.carrusel__section{
    width: 100%;
}

.carroussel-food-item {
    width: 90%;
    height: 85%;
}

.carroussel-food-item img{
    height: 85%; 
}

.carroussel-food-item h5{
    height: 15%;    
}

/*section3 o segunda columna*/  
/*características de la caja*/
    .section3{
        height: 70%;
        margin: 0px 5px;
        padding: 2px;
        background-color: var(--gradientePrincipal);
    }

/*se recupera el título de la descripción para este sector*/
    .section3__article__div--original2{
        width: 100%;
        display: block;
    }

    .titulo{
        flex-wrap: wrap;
        padding: 6px;
    }


    .titulos1{
        display: none;
    }

/*se ocultan las estrellas*/
    .estrellitas{
        display: none; 
    }    

/*se recupera lo oculto desde mobile*/
    .oculto1{
        font-size: 11px;
        margin-bottom:10px;
        display: block;
    }
/*valor*/
    .visto1{
        font-size: 20px;
        margin-top: 10px;
    }
    .visto1:hover{
        font-size: 30px;
        color: var(--colorVerdeBrillante)
    }
/*se recupera lo oculto desde mobile*/
    .oculto2{
        font-size: 12px;
        color: #fff;
        font-weight: 800;
        text-transform: uppercase; 
        padding-top: 10px;
        display: block;
    }    

/*botones*/
    .form__button{ 
        justify-content: center;
        margin: 5px;
    }

    .form__button button{
        width: 20vh;
        font-size: 1.6vh;
    }

    .section2__article__div{
        display: block;
        background: var(--gradientePrincipal);
        padding: 10px;
    }
    
    .section2__article__div__p{
        font-family: var(--tipografiaTitulos);
        font-size: 2.3vh;
    }

    .contenedor-ufo-envio {
        display: block;
    }

    .metodo {
        display: block;
    }
}