/* .product_Cart_main {


    background-image: url(/images/imagen-fondo.jpg);
    background-size: cover;
    padding: 10px;

} */

#cards-container {
    display: flex;
    justify-content: center;
}

.product_Cart_button_x{
    color: white;
    width: 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    padding: 10px;
  
}

.product_Cart_img{
    width: 50px;
}

.product_Cart_p{
    color:white;
    margin: 4px;
    font-size: 10px;
}


.product_Cart_objeto_compra{
    display: flex;
    /* background-color: green; */
    margin: 5px;
    justify-content: space-between;
}

.product_Cart_fotoydescripcion{
    display: flex;
}


.product_Cart_precioyboton{
    display:flex;
   flex-direction: column;
   align-items: center;
}







.product_Cart_botones_precio{
    display: flex;
  
}




.product_Cart_button_Mas_Menos{
    border:solid 1px white;
    background-color: transparent;
    width: 35px;
    height: 35px;
}


.product_Cart_button_Mas_Menos i{
   color:white;
   font-size: 10px;
   padding: 3px;
}

.product_Cart_numero_producto{
    color: white;
    width: 29px;
    border: solid 1px;
    text-align: center;
}

.product_Cart_numero_producto p{
    margin-top: 7px;
}


/* .cruz i{
    
  margin-top: 24px;
} */


.product_Cart_carrito h1{
    color: white;
    text-align: center;
}


.container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 161, 255, 0.5) 100%);
   padding-bottom: 10px;
}


.product_Cart_hr{
    margin: 10px 0px;
}


.card{
    min-width: 200px;
    border-radius: 7px;
    border:none;
    background: linear-gradient(90deg, rgba(47, 7, 67, 0.6) 0%, rgba(98, 2, 248, 0.6) 50%, rgba(0, 161, 255, 0.6) 100%);
    color: white;
    padding: 5px;

}

.product_Cart_precio h2 {
    text-align: center;
    color:white;
    margin-bottom: 10px;
}


.product_Cart_numero_precio {
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}





.product_Cart_precio h3 {
    display: none;
}





.product_Cart_precio{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row position-relative {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   /*  height: 100vh; */


}











 



@media(min-width:602px){

    .product_Cart_numero_producto p{
        margin-top: 0px;
    }
    

    .product_Cart_contenedor {
       
    margin:50px 20px;
    
    }

    .product_Cart_precio h2 {
       font-size: 30px;
    }
    
    


    .product_Cart_precioyboton{
     
     flex-direction: row-reverse;
    }


    .product_Cart_botones_precio{
       height: 35px;
       margin-left: 50px;
      
    }
      
      

    .product_Cart_numero_precio {
       margin-left: 20px




}


.product_Cart_numero_precio h3 {
   margin-right: 12px;




}




.product_Cart_hr{
display: none;
}




.product_Cart_carrito h1{
    display: none;
}




.product_Cart_carrito{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 161, 255, 0.5) 100%);
    padding-bottom: 10px;
    margin-top: 30px;
}




.product_Cart_precio{

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 161, 255, 0.5) 100%);
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}







.product_Cart_button_comprar{
    border:none;


    width: 50%;
   
}


/* medidas para agrandar el contenido */

.product_Cart_numero_precio {
       
    font-size: 25px;
   
}

.product_Cart_button_Mas_Menos {
    
    width: 40px;
}

.product_Cart_numero_producto {
    
    width: 40px;
}

.product_Cart_numero_producto i {
    font-size: 20px;
}


.product_Cart_numero_producto p {
  
    font-size: 30px;
}


.product_Cart_img {
    width: 70px;
}

.product_Cart_button_x {
   
    width: 30px;
    
    font-size: 25px;
}

.product_Cart_p {
   
    font-size: 17px;
}

.product_Cart_button_Mas_Menos i {
   
    font-size: 20px;
   
}







}

      
      
     



@media(min-width:1024px){
    
.product_Cart_numero_producto p{
        margin-top: 0px;
    }
    
    
    .product_Cart_contenedor {
        display:flex;
        justify-content: center;
        flex-direction: row;
    }

    
    
    
    
    .product_Cart_precio{
        margin-left: 20px;
        min-width: 250px;
    }





    .product_Cart_button_comprar{
        background: linear-gradient(90deg, rgba(47, 7, 67, 0.6) 0%, rgba(98, 2, 248, 0.6) 50%, rgba(0, 161, 255, 0.6) 100%);
        border-radius: 7px;
        margin: 20px;
        box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
        border: none;
        padding: 5px;
        color: white;
        width: 300px;
        font-size: 25px;
    }

    .product-comprar-vaciar{
        display: flex;
        flex-direction: column;
    }


    
    
    .product_Cart_contenedor{
        margin-top: 20px;
    }

    .product_Cart_precio h3 {
        display: block;
        font-size: 50px;
    margin-bottom: 20px;
    color: white;
    }
    

    .product_Cart_numero_precio {
       
        font-size: 35px;
       
    }
    
    .product_Cart_button_Mas_Menos {
        
        width: 40px;
    }

    .product_Cart_numero_producto {
        
        width: 40px;
    }

    .product_Cart_numero_producto i {
        font-size: 20px;
    }


    .product_Cart_numero_producto p {
      
        font-size: 30px;
    }


    .product_Cart_img {
        width: 100px;
    }

    .product_Cart_button_x {
       
        width: 30px;
        
        font-size: 35px;
    }

    .product_Cart_p {
       
        font-size: 17px;
    }

    .product_Cart_button_Mas_Menos i {
       
        font-size: 20px;
       
    }

}

.cards-cart{
    flex-direction: column;
}

