.register__main{
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;

}

.register__main__div{
    background: linear-gradient(90deg, rgba(16, 16, 118, 0.5) 0%, rgba(114, 198, 239, 0.5) 50%, rgba(47, 7, 67, 0.5) 100%);
    border-radius: 7px;
    color: white;
    width: 500px;
    margin: 70px;
}

.register__main__div h3{
    padding: 20px;
}

.register__main__div--info{
    background: linear-gradient(90deg, rgba(47, 7, 67, 0.6) 0%, rgba(98, 2, 248, 0.6) 50%, rgba(0, 161, 255, 0.6) 100%);
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 5px;
    color: white;
}

.register__main__div--info ::placeholder{
    color: white;
}

.validator{
      color: rgb(247, 144, 144);
      text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.errorInput{
      background: linear-gradient(to right, #ff7f50, #ff0000);
      border-radius: 7px;
      margin: 10px;
      box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
      border: none;
      padding: 5px;
      color: white;
}

.successInput{
      background: linear-gradient(to bottom right, #00b09b, #38df1e);
      border-radius: 7px;
      margin: 10px;
      box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
      border: none;
      padding: 5px;
      color: white;
}

.register__main__div--info--login a{
      color: gold;
}

.register__main__div--button  button{
    background: linear-gradient(90deg, rgba(47, 7, 67, 0.6) 0%, rgba(98, 2, 248, 0.6) 50%, rgba(0, 161, 255, 0.6) 100%);
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 5px;
    color: white;
}

/* .register__main__div--button-google{
      background: white;
      border-radius: 7px;
      margin: 10px;
      border: none;
      padding: 5px;
      color: rgb(235, 13, 13);
  } */
  .register__main__div--button-google button{
/*       border: aliceblue;
      background-color: white; */
      background: white;
      border-radius: 7px;
      margin: 10px;
      box-shadow: white;
      border: none;
      padding: 5px;
      color: white;
  }

  .register__main__div--button-google a{
      background: white;
      border-radius: white;
      color:  rgba(98, 2, 248, 0.6) 50%,;
      text-decoration: none;
  }

  .register__main__div--button-google img{
      /* display: block; */
      /* width: 80px; */ /* Ajusta el tamaño de la imagen según tus necesidades */
      height: 27px;
      /* margin-right: 10px; */ /* Espacio entre la imagen y el texto del botón */
      /* float: left; */
  }


    .register__main__div--button img {
      display: block;
      width: 80px; /* Ajusta el tamaño de la imagen según tus necesidades */
      height: 45px;
      margin-right: 10px; /* Espacio entre la imagen y el texto del botón */
      float: left;
    }


.register__main__div--button button:hover{
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.text-danger {
      background-color: rgb(255, 255, 255);
      font-size: 2vh;
}

/* Editando el input tipe file */
.fancy-file {
      display: none
}
.fancy-file + label{
      display: flex;
}

.fancy-file__fancy-file-name, .fancy-file__fancy-file-button {
      padding: 5px 10px;
}

.fancy-file__fancy-file-name{
      background: linear-gradient(90deg, rgba(47, 7, 67, 0.6) 0%, rgba(98, 2, 248, 0.6) 50%, rgba(0, 161, 255, 0.6) 100%);
      border-radius: 7px;
}

.fancy-file__fancy-file-name span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 15px;
}

.fancy-file__fancy-file-button{
      background: url("../images/folder.png") 4px center/25px no-repeat;
      border-radius: 7px;
      margin: 10px;
      box-shadow: 0px 7.27273px 2.90909px rgba(0, 0, 0, 0.4);
      border: none;
      padding-left: 33px;
      color: white;
      cursor: pointer;
}

@-webkit-keyframes shake-bottom {
0%,
100% {
-webkit-transform: rotate(0deg);
      transform: rotate(0deg);
-webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
}
10% {
-webkit-transform: rotate(2deg);
      transform: rotate(2deg);
}
20%,
40%,
60% {
-webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
}
30%,
50%,
70% {
-webkit-transform: rotate(4deg);
      transform: rotate(4deg);
}
80% {
-webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
}
90% {
-webkit-transform: rotate(2deg);
      transform: rotate(2deg);
}
}
@keyframes shake-bottom {
0%,
100% {
-webkit-transform: rotate(0deg);
      transform: rotate(0deg);
-webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
}
10% {
-webkit-transform: rotate(2deg);
      transform: rotate(2deg);
}
20%,
40%,
60% {
-webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
}
30%,
50%,
70% {
-webkit-transform: rotate(4deg);
      transform: rotate(4deg);
}
80% {
-webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
}
90% {
-webkit-transform: rotate(2deg);
      transform: rotate(2deg);
}


}


@media (min-width:361px) {
      .register__main__div--info input {
            width: 70%;
      }
}

/* Comento esto sino la carpetita del input file no se ve bien en modo desktop */
/* @media (min-width:769px) {
      .register__main__div--info input {
            width: 70%;
      }
      .register__main__div{
            width: 500px;
            padding: 40px;

      }
      .register__main{
            margin: 20px;
      }
} */

