

a {
  color: #00B7FF;
}

.home {
  background-image: url("../images/imagen-fondo.jpg");
  background-position-x:center;
  background-position-y:center;
  background-size: cover;
  background-attachment: fixed;
  
}


.body_oscuro{
  background-image: url("../images/Materia-oscura.jpg");
  background-position-x:center;
  background-position-y:center;
  background-size: cover;
  background-attachment: fixed;
}


.active{
  background-color: black;
}