@import "./footer.css";
@import "./general.css";
@import "./header.css";
@import "./index.css";
@import "./login.css";
@import "./nosotros.css";
@import "./productCart.css";
@import "./productDetail.css";
@import "./register.css";
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

