<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body class="boee">
    <%- include('./partials/header')%>

    <main class="header nosotros__main">
        <section class="nosotros__main__section--Cris">
            <h2>Cristian Amarilla</h2>
            <a href="https://github.com/Cristianyelmo"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 25 años. Ciudad: Temperley. Me gusta la animación, el 3d, la música, la programación y las milanesas de pollo con papas. Tengo 2 michis.</p>
        </section>
        <section class="nosotros__main__section--Gabi">
            <h2>Gabriela Meza</h2>
            <a href="https://github.com/GabrielaMeza93"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 30 años. Ciudad: Mataderos. Me gusta: Dibujar, pintar, pasar tiempo con mi hijas, y compartir mucho con amigos. Soy compañera, con buena predisposicón ante nuevos desafios, empática.</p>
        </section>
        <section class="nosotros__main__section--Gus">
            <h2>Gustavo Romero</h2>
            <a href="https://github.com/Gusmilo88"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 35 años. Ciudad: Merlo. Me gusta la música, los animales, el fútbol, y la tecnología. Estudiante actualmente de desarrollador web full stack. </p>
        </section>
        <section class="nosotros__main__section--Maxi">
            <h2>Maximiliano Cuellar</h2>
            <a href="https://github.com/Maxi-Cuellar"><img src="images/gatito.png" alt=""></a>
            <p>Edad: 20 años. Ciudad: Lanús Este. Por la parte grupal mucho la competitividad, los grandes desafíos y trabajar en equipo, luego por la parte personal me gusta el deporte, especialmente el futbol y gimnasio, escuchar música y junto con la mayoría de mis compañeros me gustan muchos los animales en especial los perros, mi favorito es el Golden y por ultimo soy el fanático número uno de MESSI es el amor de mi vida, mi sueño es conocerlo y sacarme una foto con él. </p>
        </section>

    </main>
    <%- include('./partials/footer')%>
    <%- include('./partials/scripts')%>
    <script src="/javascripts/modoOscuro.js"></script>
</body>