<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body class="boee">
    
    <%- include('./partials/header')%>
    <main class="container">

        <div class="row position-relative">

          <div id="cards-container" class="col-8">
          </div>

          <!-- TEMPLATE CARD COURSE -->
          <div class="card col-4 my-5 position-sticky" style="height:fit-content;top:20px">
            <div class="card-body my-2 d-flex flex-column gap-2">
              <button class="btn w-100 " id="clear-cart">Vaciar Carrito</button>
              <button class="btn w-100 " id="btn-buy">Comprar</button>
              
              <div class="text-end fs-3" >
                <span >
                  Total:
                </span>
                <output id="output-total">
                  0
                </output>
              </div>
            </div>
          </div>

        </div>
      </main>




<%- include('./partials/footer')%>

<%- include('./partials/scripts')%>
<script src="/javascripts/modoOscuro.js"></script>
<script src="/javascripts/cart.js"></script>
</body>
</html>