<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body class="register__body">

    <%- include('./partials/header')%>

    <main class="register__main">
        <div class="register__main__div">
            <h3>Creá tu cuenta</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="register__main__div--info">
                    <div>
                        <i class="fa-solid fa-user"></i><input type="text" placeholder="Ingresá tu nombre" name="name" id="name" minlength="2" autofocus>
                    </div>
                    <div>
                    <i class="fa-solid fa-user"></i><input type="text" placeholder="Ingresá tu apellido" name="name" id="name" minlength="2">
                    </div>
                    <div>
                    <i class="fa-regular fa-envelope"></i><input type="email" placeholder="Ingresá tu correo electrónico" name="email" id="email" minlength="2">
                    </div>
                    <div>
                    <i class="fa-regular fa-envelope"></i><input type="email" placeholder="Confirmá correo electrónico" name="email" id="email" minlength="2">
                    </div>
                    <div>
                    <i class="fa-solid fa-lock"></i><input type="password" placeholder="Ingresá contraseña" minlength="2">
                    </div>
                    <div>
                    <i class="fa-solid fa-lock"></i><input type="password" placeholder="Confirmar contraseña" minlength="2">
                    </div>
                    <div>
                        <input type="file" name="fotoPerfil" id="fotoPerfil">
                    </div>

                </div>
                <div>
                    <input type="checkbox" name="aceptoTerminosYCondiciones" id="aceptoTerminosYCondiciones">
                <label for="aceptoTerminosYCondiciones">Acepto terminos y condiciones</label>
                </div>
                <div class="register__main__div--info--login">
                    <small>
                        ¿Estás registrado? <a href="/users/login">Ingresá</a>
                    </small>
                </div>
                <div class="register__main__div--button">
                    <button type="submit">Registrarse</button>
                </div>

            </form>
        </div>

    </main>
    
    <%- include('./partials/footer')%>
</body>
</html>