<footer class="footer home__footer" >
    <div class="home__footer__div">
        <div class="home__footer__div--logo">
            <img src="/images/logo.png" alt="Logo de Pets Universe">
        </div>
        <div class="home__footer__div--local">
            <i class="fa-solid fa-store"></i>
            <p>Nuestro local</p>
            <p>Calle Falsa 123</p>
            <p>Bs As, Argentina</p>
        </div>
        <div class="home__footer__div--redes">
            <h4>Seguinos</h4>
            <div class="home__footer__div--facebook">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png"/></a>
            </div>
            <div class="home__footer__div--instagram">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/></a>
            </div>
        </div>
        <div class="home__footer__div--home">
            <h4>Home</h4>
            <a href="/"><img src="/images/perrito.png" alt=""></a><p>Perros</p>
            <a href="/"><img src="/images/gatito.png" alt=""></a><p>Gatos</p>
            <a href="/nosotros"><img src="/images/et.png" alt=""></a><p>Nosotros</p>
        </div>
    </div>
    <div class="home__footer__div--whatsapp">
        <a href="/"><img src="/images/whatsapp-logo-11.png" alt="Logo de Whatsapp"></a>
    </div>
    <div class="home__footer__div--copyright">
        <p><i class="fa-solid fa-copyright"></i>2023 Pets Universe - Todos los derechos reservados.</p>
    </div>
</footer>