<div >
    <section class="header products_main_serch">
        <a href="/products/productDetail/<%= id %>">
            <figure class="products_main_serch--img">
                <img src="/images/products/<%= image ? image : "default-image"%>" alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <p><%= name %> </p>
            </article>
        </a>
    </section>
</div>

