<div class="section3__article__div">
    <div class="aLaPar">
        <div class="par1">
            <p class="oculto1">Artículo nuevo | 1000 vendidos</p>
            <p class="visto1">$ <%= mil(price) %></p>
            <p class="visto2">en 12 cuotas sin interés</p>
            <p class="oculto2">¡Pedidos que vuelan!</p>
            <div class="botones">
                <div class="form__button">
                    <a href="/cart"><button  type="submit">Comprar ahora</button></a>
                </div>
                <div class="form__button">
                    <button data-id="<%= id %>" id="btn-addCart">Agregar al carrito</button>
                </div> 
            </div>
            <div class="contenedor-ufo-envio">
                <div class="ufo">
                    <img src="/images/ufo2.png" alt="imagen ufo cat">
                </div>
                <h4>Envíos gratis en compras mayores a $5000</h4>
            </div>
        </div>                                
    </div>                                                 
    <div class="metodo">
        <img src="/images/metodoPago.png" alt="Imagen de los metodos de pago">

        
    </div> 
</div>